@import "tailwindcss";
@import "@fontsource/be-vietnam-pro/400.css";
@import "@fontsource/be-vietnam-pro/500.css";
@import "@fontsource/be-vietnam-pro/700.css";

:root {
    --color-orange-400: hsl(12, 88%, 59%);
    --color-blue-950: hsl(228, 39%, 23%);
    --color-gray-950: hsl(233, 12%, 13%);
    --color-orange-50: hsl(13, 100%, 96%);
    --color-gray-50: hsl(0, 0%, 98%);

    --font-sans: "Be Vietnam Pro", sans-serif;
}

@layer base {
    body {
        @apply font-sans bg-gray-50;
    }
}
